.cabecalho {
    display: flex;
    align-items: center;
    margin: 1.125em auto;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    margin: 0.5em 5em;
    gap: 0.5em
}

.cabecalho__logo__text, .cabecalho__menu__link , .cabecalho__profile__link {
    font-weight: 500;
}

.cabecalho__logo__text {
    font-size: 1.125rem;
    color: var(--color-logo-text);
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1em 5em 1em 1em;
}

.cabecalho__menu, .cabecalho__profile {
    display: flex;
    gap: 2em;
}

.cabecalho__menu__link, .cabecalho__profile__link {
    text-decoration: none;
    color: var(--color-font-text);
}